/*index.css*/
/* Responsive CSS file styles defined for smaller width devices */
/* CSS for tablet devices */



@media screen and (max-width: 900px) { 
    .logo { 
        padding: 0 2rem; 
    } 


    .hamburger { 
        display: block; 
        padding: 0 3rem; 
    } 

    .menu { 
        position: absolute; 
        right: 10px; 
        padding: 0 0rem; 
        top: 73px; 
        background-image: linear-gradient(0deg, #0e1416, #09212d);
        opacity: 0.9;
        border-radius: 10%;
        display: none; 
        transition: all 0.25s; 
    } 

    .menu .menu-list { 
        flex-direction: column; 
    }

    .portfolio { 
        padding: 0; 
    } 

    .about { 
        flex-direction: column; 
    } 

    .about .about-text { 
        padding: 5rem; 
    } 

    .about .about-image img { 
        padding: 2rem; 
        margin-bottom: 20px;
    } 

    .icon{
        width: 90%;
        vertical-align: middle; 
        text-align: center;
    }


} 







